.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  
  .service-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .top-div-service {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading-service {
    color: rgb(63, 125, 128);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
  }
  
  .boxes-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 300px;
    height: 250px;
    background-color: #e2edee;
    color: rgb(63, 125, 128);
    border: 2px solid gray;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .service-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 100px) and (max-width: 750px) {
    .top-div-service {
      width: 80%;
    }
  
    .boxes-container {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  
    .box {
      width: 80%;
      height: auto;
      margin-top: 15px;
    }
  }
  